@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro:300,400,600,700&display=swap');

/*-----------------------------*/
/* Basic setup */
/*-----------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #000;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.row {
    max-width: 1170px;
    margin: 0 auto;
}

/*-----------------------------*/
/* Reusable components */
/*-----------------------------*/

.orange-text {
    color: #fc6f4e;
}

.small-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 80%;
    color: #565656;
}

/*-----------------------------*/
/* Header */
/*-----------------------------*/

.header {
    background: url(img/header-bg.png) no-repeat;
    background-size: cover;
}

.header:focus {
    outline: none;
    border: none;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    padding-top: 81px;
}
    
.header-text {
    padding-top: 126px;
    max-width: 705px;
    margin: 0 auto;
}

.header-text h2,
.header-text p {
    text-align: center;
}

.header-text h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 250%;
    color: #6b6b6b;
}

.header-text p {
    margin-top: 22px;
    line-height: 1.55;
}

.header-form {
    width: 372px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 57px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 57px 0px rgba(0,0,0,0.2);
    border-radius: 2px;
    margin-top: 115px;
    position: relative;
    top: 3px;
}


.header-form h4 {
    padding-top: 27px;
    margin-bottom: 47px;
    text-align: center;
    font-size: 85%;
}

.header-form input {
    font-family: 'Open Sans', sans-serif;
    font-size: 70%;
    border: none;
    color: #666666;
    border-bottom: 1px solid #c7c7c7;
    width: 295px;
    padding-bottom: 10px;
    margin-left: 39px;
    margin-bottom: 36px;
    outline: none;
}


#header-form-message {
    margin-bottom: 0;
    border: none;
    color: #666666;
    border-bottom: 1px solid #c7c7c7;
    margin-left: 39px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 70%;
    height: 67px;
    resize: none;
    outline: none;
    width: 295px;
}

.header-form button {
    margin: 20px 66px;
    width: 240px;
    height: 55px;
    border-radius: 28px;
    background: #ff5c36;
    border: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 75%;
    text-align: center;
    font-weight: 300;
    outline: none;
}

.header-form button img {
    padding-left: 18px;
}

.menu {
    position: relative;
}
#close {
    display: none;
} 

.submenu {
    display: none;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 85%;
    background: #fff;
    width: 200px;
    right: 0;
    border: 2px solid #706b73;
    color: #706b73;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    z-index: 9999;
}

.submenu li {
    padding: 20px 0;
}

.submenu li a {
    text-decoration: none;
}

.submenu li:active,
.submenu li:hover {
    background: #706b73; 
}

.submenu li:active a,
.submenu li:hover a {
    color: #fff; 
}

.scroll-to-top {
    display: none;
    background: 
        url(img/top-arrow.png) no-repeat,
        #fff;
    background-position: center;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 5%;
    bottom: 5%;
    border: 1px solid #706b73;
    border-radius: 50%;
    -webkit-transition: -webkit-box-shadow 0.45s;
    transition: -webkit-box-shadow 0.45s;
    transition: box-shadow 0.45s;
    transition: box-shadow 0.45s, -webkit-box-shadow 0.45s;
    z-index: 9999;
}

.scroll-to-top:active,
.scroll-to-top:hover {
    -webkit-box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.2);
}

/*-----------------------------*/
/* Working Process */
/*-----------------------------*/

.working-process:focus {
    outline: none;
    border: none;
}

.working-process-headings {
    text-align: center;
    margin-top: 157px;
}

.working-process-headings h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 200%;
}

.working-process-headings p {
    margin-top: 24px;
}

.working-process-stages {
    display: flex;
    justify-content: space-between;
    margin-top: 113px;
}

.stage {
    width: 262px;
    height: 282px;
    text-align: center;
    position: relative;
    -webkit-transition: -webkit-box-shadow 0.45s;
    transition: -webkit-box-shadow 0.45s;
    transition: box-shadow 0.45s;
    transition: box-shadow 0.45s, -webkit-box-shadow 0.45s;
    margin-bottom: 181px;
}

.stage:hover,
.stage:active {
    -webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.21);
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.21);
}

.know-more-btn:hover,
.know-more-btn:active {
    -webkit-box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.09);
    box-shadow: 0px 0px 14px 6px rgba(0,0,0,0.09);
}

.azure {
    background: #4eb2f7;
}

.pink {
    background: #c049f8;
}

.blue {
    background: #817eff;
}

.red {
    background: #f74770;
}

.img-holder {
    margin-top: 53px;
    height: 52px;
    display: flex;
    justify-content: center;
}

.working-process-stages-img {
    align-self: center;
}

.stage-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 100%;
    margin-top: 25px;
    color: #eef7fe;
}

.stage-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 75%;
    margin: 28px 0;
    color: rgba(255, 255, 255, 0.85);
    line-height: 1.4;
    text-align: center;
}

.know-more-btn img {
    margin-right: 18px;
    vertical-align: middle;
}

.know-more-btn {
    height: 55px;
    width: 228px;
    border: none;
    background: #fff;
    border-radius: 26px;
    font-family: 'Open Sans', sans-serif;
    font-size: 75%;
    color: #4c4c4c;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.05);
    -webkit-transition: -webkit-box-shadow 0.45s;
    transition: -webkit-box-shadow 0.45s;
    transition: box-shadow 0.45s;
    transition: box-shadow 0.45s, -webkit-box-shadow 0.45s;
    outline: none;
}

/*-----------------------------*/
/* Featured Works */
/*-----------------------------*/

.featured-works {
    background: #fbfbfb;
}

.featured-works:focus {
    outline: none;
    border: none;
}

.featured-works-headings {
    text-align: center;
    padding-top: 139px;
}

.featured-works-headings h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 200%;
    font-weight: 600;
    color: #323232;
}

.featured-works-headings p {
    margin-top: 24px;
}

.featured-works-example {
    display: flex;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 117px;
    padding-bottom: 171px;
}

.example {
    margin-top: 23px;
    background: #ff5c36;
    justify-content: space-around;
}

/*-----------------------------*/
/* Services */
/*-----------------------------*/

.services:focus {
    outline: none;
    border: none;
}

.services-headings {
    text-align: center;
    margin-top: 155px;
}

.services-headings h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 200%;
    font-weight: 600;
    color: #333333;
}

.orange-text-headings {
    color: #fd8569;
}

.services-headings p {
    margin-top: 25px;
}

.services-content {
    display: flex;
    margin-top: 147px;
    margin-bottom: 177px;
}

.services-icons {
    margin-right: 130px;
}

.services-icon {
    width: 106px;
    height: 94px;
    background: #fbfbfb;
    border: 1px solid #f7f7f7;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
    -webkit-transition: -webkit-box-shadow 0.45s;
    transition: -webkit-box-shadow 0.45s;
    transition: box-shadow 0.45s;
    transition: box-shadow 0.45s, -webkit-box-shadow 0.45s;
}

.services-icon:hover,
.services-icon:active {
    background: #fff;
    -webkit-box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.2);
}

.services-icon img {
    align-self: center;
    padding-left: 15%;
    padding-top: 15%;
}

.services-text p {
    line-height: 150%;
}

#last {
    margin-bottom: 33px;
}

.services-text-headings {
    font-family: 'Open Sans', sans-serif;
    color: #404040;
    font-size: 150%;
    position: relative;
}


.services-text-headings div {
    width: 57px;
    border-top: 3px solid #ff5c36;
    margin-top: 18px;
    margin-bottom: 19px;
}

.services-text-paragraphs {
    max-width: 503px;
}

.service-btn {
    border: 1px solid #ededed;
}

.service-btn:hover,
.service-btn:active {
    -webkit-box-shadow: 0px 11px 20px 0px rgba(0,0,0,0.07);
    box-shadow: 0px 11px 20px 0px rgba(0,0,0,0.07);
}

.services-image {
    margin-left: 73px
}

/*-----------------------------*/
/* Team */
/*-----------------------------*/

.team {
   background: #fbfbfb; 
}

.team:focus {
    outline: none;
    border: none;
}

.team-text {
    text-align: center;
    padding-top: 151px;
}

.team-headings {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 180%;
    color: #323232;
    padding-bottom: 23px;
}

.team-orange-text {
    color: #fc8569;
}

.team-members-holder {
    display: flex;
    justify-content: space-between;
    margin-top: 131px;
    padding-bottom: 175px;
}

.member {
    width: 362px;
    height: 445px;
    background: #fff3f0;
    position: relative;
    display: flex;
    justify-content: center;
    -webkit-transition: -webkit-box-shadow 0.4s;
    transition: -webkit-box-shadow 0.4s;
    transition: box-shadow 0.4s;
    transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
}

.member:hover,
.member:active {
    -webkit-box-shadow: 0px 0px 49px 0px rgba(0,0,0,0.11);
    box-shadow: 0px 0px 49px 0px rgba(0,0,0,0.11);
}

.members-cover {
    background: #ff5c36;
    position: absolute;
    width: 362px;
    height: 445px;
    text-align: center;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    left: 0px;
}

.member-cover-name {
    background: #fff;
    width: 262px;
    height: 95px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 374px;
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.08);
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.08);
}

.member-name {
    color: #4c4c4c;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 130%;
}

.member-position {
    color: #8f8f8f;
    font-family: 'Open Sans', sans-serif;
    font-size: 70%;
    margin-top: 10px;
}

.progress-bar {
    height: 4px;
    width: 151px;
}

.progress-bar-line {
    height: 4px;
    width: 151px;
}

.member-content {
    padding-top: 164px;
}

.member-content p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 70%;
    padding-bottom: 7px;
}

.member-content div {
    margin-bottom: 14px;
}

.worker-content {
    text-align: center;
    margin-top: 74px;
}

.worker-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 100%;
    color: #413f3f;
}

.worker-position {
    font-family: 'Open Sans', sans-serif;
    font-size: 60%;
    color: #ffbdab;
}

.worker-content div img {
    padding-right: 7px
}

/*-----------------------------*/
/* Client Said */
/*-----------------------------*/

.client-said:focus {
    outline: none;
    border: none;
}

.client-said-headings {
    text-align: center;
    margin-top: 148px;
}

.client-said-headings h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 190%;
    color: #323232;
    letter-spacing: 2px;
}

.slider {
    display: flex;
    justify-content: space-around;
    margin-top: 82px;
}

.carousel {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}


.feedback {
    border: 1px solid #d3d3d3;
    text-align: center;
    width: 536px;
    height: 272px;
    -webkit-transition: border 0.4s, -webkit-box-shadow;
    transition: border 0.4s, -webkit-box-shadow;
    transition: box-shadow, border 0.4s;
    transition: box-shadow, border 0.4s, -webkit-box-shadow;
    position: relative;
    margin-bottom: 103px;
}

.feedback:hover,
.feedback:active {
    -webkit-box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.09);
    box-shadow: 0px 0px 27px 0px rgba(0,0,0,0.09);
    border: 1px solid #fff;
}

.feedback p {
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 70%;
}


.feedback-text {
    padding-top: 98px;
    max-width: 435px;
    margin: 0 auto;
}

.stars-img {
    display: inline-block;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #d1d1d1;
    position: absolute;
    left: 40%;
    top: -21%;
    background: #fff;
}

.carousel p {
    font-family: 'Open Sans', sans-serif;
    font-size: 70%;
}

.prev-arrow,
.next-arrow {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 40%;
    border-radius: 50%;
    border: 1px solid #d1d1d1;
    z-index: 1;
    outline: none;
    cursor: pointer;
}

.prev-arrow {
    background: url(img/prev-arrow-img.png) no-repeat;
    background-color: #fff;
    background-position: center;
    left: -1%;
}

.next-arrow {
    background: url(img/next-arrow-img.png) no-repeat;
    background-color: #fff;
    background-position: center;
    right: -1%;
}

.prev-arrow:hover,
.prev-arrow:active {
    background: url(img/prev-arrow-hover-img.png) no-repeat;
    background-position: center;
    background-color: #ff6e47;
    border: 1px solid #ff6e47;
}
.next-arrow:hover,
.next-arrow:active {
    background: url(img/next-arrow-hover-img.png) no-repeat;
    background-position: center;
    background-color: #ff6e47;
    border: 1px solid #ff6e47;
}

.dots-holder {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 6%;
}

.dots-holder li {
    list-style: none;
}

.dots-holder li button {
    font-size: 0;
    width: 17px;
    height: 6px;
    background: #e0e0e0;
    list-style: none;
    border: none;
    border-radius: 4px;
}

.dots-holder li button:hover,
.dots-holder li button:focus {
    background: #ff6e47;
    outline: none;
}

.dots-holder li.slick-active button {
    background: #ff6e47;
}

.bold-text {
    color: #333;
    font-weight: 600;
    font-style: normal;
}

.italic-text {
    font-style: italic; 
}

/*-----------------------------*/
/* Companies */
/*-----------------------------*/

.companies {
    background: #fbfbfb;
    
}

.companies-holder {
    display: flex;
    justify-content: space-around;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 182px;
}

/*-----------------------------*/
/* Footer */
/*-----------------------------*/

.footer {
    background: #f7f7f7;
}

.footer-content {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 255px;
}

.footer-icon-holder {
    display: flex;
    margin-top: 50px;
}

.footer-icons {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #d3d3d3;
    display: flex;
    margin-right: 16px;
    justify-content: center;
    align-items: center;
    -webkit-transition: background 0.45s;
    transition: background 0.45s;
}

.footer-icon {
    display: flex;
}

.contact-us-btn {
    height: 55px;
    width: 240px;
    background: #fdfdfd;
    border: 1px solid #e6e6e6;
    border-radius: 28px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 80%;
    -webkit-transition: -webkit-box-shadow 0.45s;
    transition: -webkit-box-shadow 0.45s;
    transition: box-shadow 0.45s;
    transition: box-shadow 0.45s, -webkit-box-shadow 0.45s;
}

.contact-us-btn:hover,
.contact-us-btn:active {
    -webkit-box-shadow: 0px 11px 20px 0px rgba(0,0,0,0.07);
    box-shadow: 0px 11px 20px 0px rgba(0,0,0,0.07);
}

.footer-icons:hover,
.footer-icons:active {
    background: #ff6e47;
}

.copyright {
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 85%;
}

.slick-initialized .slick-slide
{
    display: flex;
}
